.movies {
    padding-top: 10px;
    font-size: 10px;
}

.Movielist {
    font-size: calc(10px + 1vmin);
   }

table {
    width: 100%;
    border-collapse: collapse;
}
.Schbody {
    font-style: italic;
    color: #fff;
    font-size: 16px;
}
td, th {
    border: 2px solid black;
    padding: 0.5rem;
    text-align: left;
}
